anago==1.0.8
eunjeon==0.3.9.6
Flask==1.0
Flask-Cors==3.0.4
flask-restplus==0.12.1
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
pymongo==3.7.2
tensorboard==1.9.0
tensorflow==2.5.3
